{% extends "booklite/base_generic.html" %}


{% block content %}
<h4>{{ request.user }}'s book list </h4>

<form action="" method="GET">
	<input type="checkbox" name="genre" value="1">Comics & Graphic Novels<br>
	<input type="checkbox" name="genre" value="2">Biography & Autobiography<br>
	<input type="checkbox" name="genre" value="3">Business & Economics<br>
	<input type="checkbox" name="genre" value="4">Fiction<br>
	<input type="checkbox" name="genre" value="5">True Crime<br>
	<input type="checkbox" name="genre" value="6">FICTION<br>
	<input type="checkbox" name="genre" value="7">Juvenile Fiction<br>
	<input type="submit" value="submit">

</form>

</div>

{% for book in books %}
<div class="book_entry">

	<img src="{{ book.img_url }}" class="cover_img" />
	<div class="book_results_info">
		<span class="title_span"><a href="{% url 'booklite:book_details' book.id %}">{{ book.title }}</a></span>
		<span class="author_span">{{ book.authors }}</span>
		<span class="published_span">{{ book.published }}</span>
		<span class="ebook_span">{{ book.is_ebook }}</span>
		<span class="publisher_span">{{ book.publisher }}</span>
		<div class="book_description">{{ book.description }}</div>
		<input type="hidden" name="next" value="{{next}}" />

	</div>
	<a href="{% url 'booklite:remove_book' book.id %}">

		Remove from My Books
	</a>
</div>
{% endfor %}

{% endblock %}