{% extends "booklite/base_generic.html" %}


{% block content %}
<h4>{{ request.user }}'s book list </h4>
				

	</div>

	{% for book in books %}
	<div class="book_entry"> 

		<img src="{{ book.img_url }}" class="cover_img" />
		<div class="book_results_info">
			<span class="title_span"><a href="{% url 'booklite:book_details' book.id %}">{{ book.title }}</a></span>
			<span class="author_span">{{ book.authors }}</span>
			<span class="published_span">{{ book.published }}</span>
			<span class="ebook_span">{{ book.is_ebook }}</span>
			<span class="publisher_span">{{ book.publisher }}</span>
			<div class="book_description">{{ book.description }}</div>
			<input type="hidden" name="next" value="{{next}}"/>
			
		</div>
		<a href="{% url 'booklite:remove_book' book.id %}">
			
			Remove from My Books
		</a>
	</div>
	{% endfor %}

{% endblock %}
